# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
backend/.env

# Temporary & Build files
build/
dist/
*.spec
uploads/
scratch/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
